section {
    background: #000;
    color: #fff;
    padding: 2.5em;
    font-family: "Lato", sans-serif;
}

section h3 {
    text-align: center;
}

section p {
    text-indent: 10px;
    line-height: 1em;
}

section .hide {
    display: none;
}

section #clock {
    font-size: 1.5em;
}