section {
    background: #333;
    color: #fff;
    padding: 2em;
    font-family: "Lato", sans-serif;
}

section h3 {
    text-align: center;
}

section p {
    text-indent: 10px;
    line-height: 1em;
    font-size: .5em;
}

section .hide {
    display: none;
}

section circle {
    fill: firebrick;
}